.titleWrapper {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to bottom left,  #008b79, #1180a1);
}

.titleWrapper h1 {
    margin: 0;
    padding-top: 3rem;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.imageWrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    overflow: hidden;
    margin: 25px;
}

.imageWrapper .image {
    object-fit: cover;
}

.card {
    background-color: #2b2b2b;
    max-width: 700px;
    margin: -60px auto 0;
    display: flex;
    flex-direction: row;
}

.addressText {
    white-space: pre;
}

.addressText, .dateText {
    color: #aefff8;
}

.date, .address {
    color: #18e0d0;
}

.date svg,
.address svg {
    width:22px;
    height:22px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.description {
    text-align: center;
    max-width: 900px;
    margin: 40px auto 0;
}