.card {
    display: flex;
    flex-direction: row;
    width: 600px;
    margin-bottom: 20px;
    background-color: white;
    overflow: hidden;
}

.imageWrapper {
    flex: 0 0 230px;
    position: relative;
}

.image {
    object-fit: cover;
}

.info {
    flex: 1 1 auto;
    gap: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.info .address {
    white-space: pre;
}

.button {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-self: flex-end;
}

.icon {
    margin-left: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon svg {
    width: 20px;
    height: 20px;
}

.date,
.address {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.date svg,
.address svg {
    width: 20px;
    height: 20px;
    color: #666666;
}
