.formWrapper {
    padding: 14px;
    background-color: white;
    border-radius: 5px;
}

.form, .formControl {
    display: flex;
    gap: 10px;
    align-items: center;
}

.formControl select {
   min-width: 150px; 
   padding: 5px;
   border-radius:5px;
}

.formControl label {
    font-weight: bold;
    font-size: 14px;
}

.button {
    padding: 7px;
}

