.layout .nav {
    background-color: #202020;
    color: #94fdfd;
}

.nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.layout .brand {
    color: #94fdfd;
    text-decoration: none;
    font-size: 26px;
}

.linkItem {
    text-decoration: none;
    color: #94fdfd;
}
